@font-face {
  font-family: 'supercell-magic';
  src: "../frontend/supercell-magic.ttf";
}

* {

}

body {
  text-align:center;
  font-family: 'supercell-magic', sans-serif;
}

table {
  margin:auto;
  border-collapse: separate;
  border-spacing: 0 10px;
  white-space: nowrap;
  overflow: hidden;

  box-sizing: border-box;
  padding: 5px;
}

tr {
    -webkit-filter: brightness(100%);
    font-size: 9px;

    background-color: #ddd;
    border-radius: 5px;

    overflow: hidden;
    position: relative;

    box-shadow:
      2px 4px 0 #666,
      -2px 4px 0 #666,
      2px -2px 0 #666,
      -2px -2px 0 #666;

}

tr:hover {
    -webkit-filter: brightness(85%);

}

/*tr:nth-child(even) {background-color: #F8F4FB;}
tr:nth-child(odd) {
  background-color: white;
}*/

th {
  background-color: #832FC2;
  font-size: 12px;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow:
       0.5px 0.5px 0 #000,
       0.5px 1px 0 #000,
       -0.5px 0.5px 0 #000,
       -0.5px 1px 0 #000;
}

td{
  color: #444444;

}
td:first-child{
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}
td:last-child{
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
}
th, td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.exp {
  width: 30px;
  height: 30px;
}
#highlight{
  border:2px solid blue;
  height: 100%;

  vertical-align: top;
}
